body
{
    background-color: #5CDB95;
}
#display
{
    margin: auto;
}
.firstbox
{
    border: 8px solid #05386B;
    width: 270px;
    height: 130px;
    margin: auto;
    text-align: center;
    background-color: #EDF5E1 ;
    border-radius: 15px;
}
.secondbox
{
    border: 8px solid #05386B ;
    width: max-content;
    margin: auto;
    width: 270px;
    height: 130px;
    text-align: center;
    background-color: #EDF5E1; 
    border-radius: 15px;
}
#resultb
{
  cursor: pointer;
}